<div class="container">
    <div class="row">
        <div class="col-lg-6"><h1 class="text-left">Locations</h1></div>
        <div class="col-lg-6"><button [routerLink]="['/location']" class="btn btn-primary mr-1 float-end">Add new location</button></div>
    </div>
    <div class="row">
        <div *ngFor="let location of locations" class="col-sm-4">
            <div class="card-deck">
                <a [routerLink]="" (click)="editLocation(location.id)">
                    <div class="card">
                        <img src="{{location.locationPhotoUrl}}" height="300" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{location.name}}</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>
