<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1 class="text-left">Locations</h1>
        </div>
        <div class="col-lg-6">
            <button [routerLink]="['/location']" class="btn btn-primary mr-1 float-end">
                <fa-icon [icon]="faPlus" style="margin-right:5px"></fa-icon>
                Add new location
            </button>
        </div>
    </div>
    <div *ngIf="locationsFound === 'notyet'" class="row mt-5">
        <div class="col-sm-12 text-center">
            <div class="spinner-grow text-secondary mt-3" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>  
    </div>
    <div class="row mt-5" *ngIf="locations.length > 0; else NoLocations">
        <div *ngFor="let location of locations" class="col-sm-3">
            <div class="card-deck mb-4">
                <a [routerLink]="" (click)="editLocation(location.id)"
                    style="text-decoration: none; color: var(--primary);">
                    <div class="card shadow-sm">
                        <img src="{{location.locationPhotoUrl}}" class="card-img-top" alt="...">
                        <div class="card-body col-11">
                            <h5 class="card-title mb-3 text-truncate">{{location.name}}</h5>
                        </div>
                        <div class="card-footer text-muted" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            <small>
                                <fa-icon [icon]="mapMarker" style="margin-right:5px"></fa-icon>
                                {{location.address.city}}, {{location.address.country}}
                            </small>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<ng-template #NoLocations class="row mt-5">
    <h4 class="col-sm-12 text-center" style="color: gray;">You have no locations.</h4>
</ng-template>