/* You can add global styles to this file, and also import other style files */

:root {
    --primary: #287271;
    --cancel: #D6494A;
}

.btn-primary {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-cancel {
    color: var(--cancel);
    background-color: white;
    border-color: var(--cancel);
}

.btn-cancel:hover {
    color: white;
    background-color: var(--cancel);
    border-color: var(--cancel);
}

.text-primary {
    color: var(--primary) !important;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}
