/* You can add global styles to this file, and also import other style files */

:root {
    --primary: #e04462;
}

.btn-primary {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}

.text-primary {
    color: var(--primary) !important;
}
